<div class="container">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-5 form-container">
    <h2>Sign up</h2>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <div class="form-actions mt-3" id="action-container2">
        <%= f.button :submit, "Sign up", class: "btn btn-primary purple_button" %>
        <%= link_to "Go to log in", new_session_path(resource_name), class: "btn btn-primary my_button" %>
      </div>
    </div>
  <% end %>
</div>

<%# render "devise/shared/links" %>
