
<%= form_with url: spaceships_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a spaceship"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="wrapper">
  <div class="grid_index">
    <% @spaceships.each do |spaceship| %>
        <div class="card_index">
            <%= cl_image_tag spaceship.photos.first.key %>
            <div class="card_body">
              <h2 class="card-title"><%= spaceship.name %></h2>
            <%= link_to '', spaceship_path(spaceship), class: 'card_link'  %>
          </div>
        </div>
    <% end %>
  </div>
</div>
