<h1>new spaceship</h1>
        <%= simple_form_for @spaceship do |f| %>
          <%= f.input :name, placeholder: 'spaceship_name' %>
          <%= f.input :description, placeholder: 'description' %>
          <%= f.input :price, placeholder: 'price' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit %>
        <% end %>
