<div class="mycontainer">
  <h1><%= @spaceship.name %></h1>
  <p><%= "from #{@spaceship.user.email.gsub("@gmail.com", '')}" %></p>

  <div class="spaceship-images">
    <%= cl_image_tag @spaceship.photos.first.key, class: "myimage" %>
    <%= cl_image_tag @spaceship.photos.last.key, class: "myimage" %>
  </div>


<div class="subheaders"><h4>Features</h4> <%= "#{@spaceship.price} $" %></div>
<p><%= @spaceship.description %></p>
<p><%= @spaceship.speed %></p>
<p><%= @spaceship.power %></p>
<p><%= @spaceship.seats %></p>
<%= @spaceship.user.email.gsub("@gmail.com", '') %>
  <%= link_to "Book now", new_spaceship_booking_path(@spaceship.id), class: 'btn btn-primary'%>
</div>

