<div class="mycontainer">
  <h1><%= @spaceship.name %></h1>
  <p><%= "Posted by #{@spaceship.user.email.gsub("@gmail.com", '').capitalize}" %></p>
  <a class="btn my_button" href="#map">Go To Map</a>

  <div class="images--flex">
      <%= cl_image_tag @spaceship.photos.first.key, class: "myimage-main" %>

    <div class="images--flex__inner">
    <% @spaceship.photos.drop(1).each_with_index do |spaceship, index| %>
      <div class='<%="myimage-#{index + 1}"%>'>
        <%= cl_image_tag spaceship.key%>
      </div>
      <% end %>
      </div>
    </div>

  <div class="show-content-container">
    <div class="subheaders">
    <div class="subheaders-features show-content-booking">
      <h4>Features</h4>
      <div class="features-content">
      <div>
      <p>Speed</p>
      <p><% @spaceship.speed.to_i.times do  %>
        <i class="fa-solid fa-frog my_icons"></i>
      <% end %>
      </p>
      </div>
      <div>
      <p>Power</p>
      <p><% @spaceship.power.to_i.times do  %>
        <i class="fa-solid fa-bolt my_icons"></i>
      <% end %>
      </p>
      </div>
      <div>
      <p>Seats</p>
      <p><% @spaceship.seats.to_i.times do  %>
       <i class="fa-solid fa-chair my_icons"></i>
      <% end %></p>
      </div>
      </div>
      </div>
      <div class="subheaders-description">
      <h4>Description</h4>
      <p><%= @spaceship.description %></p>
    </div>
    </div>
    <div class="show-content-booking">
    <h2><%= "$ #{@spaceship.price}" %></h2>
    <%= link_to "Book now", new_spaceship_booking_path(@spaceship.id), class: 'btn btn-primary my_button'%>
  </div>
</div>

 <div id="map" style="width: 100%; height: 300px; margin: 0 auto 20px;"
    data-controller="singlemap"
    data-singlemap-markers-value="<%= @markers.to_json %>"
    data-singlemap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
