<div class="mycontainer">
  <h1><%= @spaceship.name %></h1>
  <p><%= "Posted by #{@spaceship.user.email.gsub("@gmail.com", '').capitalize}" %></p>

  <div class="images--flex">

      <%= cl_image_tag @spaceship.photos.first.key, class: "myimage-main" %>

    <div class="images--flex__inner">
      <div class="myimage-1">
        <%= cl_image_tag @spaceship.photos[1].key%>
      </div>
       <div class="myimage-2">
        <%= cl_image_tag @spaceship.photos[2].key%>
      </div>
       <div class="myimage-3">
        <%= cl_image_tag @spaceship.photos[3].key%>
      </div>
       <div class="myimage-4">
        <%= cl_image_tag @spaceship.photos[4].key%>
      </div>
    </div>
  </div>
  <div class="show-content-container">
    <div class="subheaders">
      <h4>Features</h4>
      <p><%= @spaceship.description %></p>
      <p><%= @spaceship.speed %></p>
      <p><%= @spaceship.power %></p>
      <p><%= @spaceship.seats %></p>
    </div>
  <div class="show-content-booking">
    <h2><%= "$ #{@spaceship.price}" %></h2>
    <%= link_to "Book now", new_spaceship_booking_path(@spaceship.id), class: 'btn btn-primary my_button'%>
  </div>
</div>
